.bg
{	
	background-color:#212A31;
	background-attachment: fixed;
	margin: 0;
    padding: 0;
}
.class1
{
    color: cyan;
    font-family: "Arial";
    font-size: 30px;
    text-align: center; 
    font-weight: bold;
    margin: 0;  
    padding: 0; 
}
.user
{
	position:absolute;
	right:15px;
	margin-top:10px;
}

.square
{
	box-shadow:0px 0px 10px 1px white;
	width:260px;
	height:250px;
	background-color:#D3D9D4;
	padding:15px;
	margin-top:8%;
	margin-left:40%;
	font-family:"courier new";
	font-size:20px;
	font-weight:bold;
}
.login
{
	margin-left:80px;
}
.login input{
	background:transparent;
	border:none;
	border-bottom:solid #116466 2px;
}
.name
{
	margin-top:30px;
	margin-left:40px;
	color:#2C3531;
}
.pass
{
	margin-top:10px;
	margin-left:40px;
	color:#2C3531;
}
.button 
{
  margin-left: 30%;
  background-color: #e600e6;
  color: cyan;
  font-weight: bold;
  height: 30px;
  width: 100px;
  box-shadow: 0 0 13px 4px cyan;
  border-color:pink;
}

.button:hover 
{
  background-color: #e600e6;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  color: white;
}
.box
{
	background:transparent;
	border:none;
	border-bottom:solid #116466 2px;
	color:#e600e6;
	font-weight:bold;	
}
.box::placeholder{
	color:black;
}
.box:focus{
	outline:none;
}
@media only screen and (max-width:1190px) and (min-width:999px)
{
	body
	{
		margin:0;
		padding:0;
	}
	.bg
	{
		background-attachment:fixed;
	}
	.class1
	{
		font-size: 27px;
		text-align: center; 
		margin: 0;  
		padding-left:0%;
	}
	.square
	{	
		height:auto;
		width:350px;
		margin-left:54vh;	
		font-size:40px;
	}
	.name,.pass{
		margin-left:100px;
	}
	.login
	{
		margin-left:13vw;
	}
	.button
	{
		margin-left:13vw;
	}
	.one{
		font-size:23px;
	}
}
@media only screen and (max-width:1000px) and (min-width:819px)
{
	body
	{
		margin:0;
		padding:0;
	}
	.bg
	{
		width:100%;
	}
	.class1
	{
		font-size:40px;
		text-align: center; 
		margin: 0;  
		padding-left:0%;
	}
	.square
	{	
		height:auto;
		width:32vw;
		margin:20vh;	
		font-size:30px;
	}
	.login
	{
		margin-left:12vw;
	}
	.button
	{
		margin-left:12vw;
	}
	.box::placeholder{
		font-size:large;
	}
	.one{
		font-size:26px;
		padding-left:30px;
	}
}
@media only screen and (max-width:820px) and (min-width:768px)
{
	body
	{
		margin:0;
		padding:0;
	}
	.bg
	{
		background-attachment:fixed;
	}
	.class1
	{
		font-size: 23px;
		text-align: center; 
		margin: 0;  
		padding-left:0%;
	}
	.square
	{	
		margin-left:30%;
		height:auto;
		width:45vw;
		margin:20vh;	
	}
	.login
	{
		margin-left:18vw;
	}
	.button
	{
		margin-left:20vw;
	}
	
}
@media only screen and (max-width:767px) and (min-width:481px) 
{
	body
	{
		margin:0;
		padding:0;
	}
	.bg
	{
		background-attachment:fixed;
	}
	.class1
	{
		font-size: 26px;
		text-align: center; 
		margin: 0;  
		padding-left:0%;
	}
	.square
	{	
		height:auto;
		width:40vw;
		margin-left:20vh;
		margin-top:15vh;		
	}
	.name,.pass{
		margin-left:20px;
	}
	.login
	{
		margin-left:13vw;
	}
	.button
	{
		margin-left:12vw;
	}
	
}
	
	
	
	
	
	
@media only screen and (max-width:480px) and (min-width:400px)
{	
	body
	{
		margin:0;
		padding:0;
	}
	.bg
	{
		background-attachment:fixed;
	}
	.class1
	{
		font-size: 26px;
		text-align: center; 
		margin: 0;  
		padding-left:0%;
	}
	.square
	{	
		font-size:4vh;
		height:auto;
		width:60vw;
		margin-left:12vw;
		margin-top:15vh;
		padding:3.5vh;
		
	}
	.login
	{
		margin-left:20vw;
	}
	.button
	{
		margin-left:20vw;
	}
	
	
}	
	
	
	
@media only screen and (max-width:399px) and (min-width:300px)
{	
	body
	{
		margin:0;
		padding:0;
	}
	.bg
	{
		background-attachment:fixed;
	}
	.class1
	{
		font-size: 23px;
		text-align: center; 
		margin: 0;  
		padding-left:0%;
	}
	.square
	{	
		font-size:4vh;
		height:auto;
		width:60vw;
		margin-left:15vw;
		margin-top:15vh;
		padding:2vh;
	}
	.name,.pass
	{
		margin-left:7vw;
	}
	.login
	{
		margin-left:20vw;
	}
	.button
	{
		margin-left:20vw;
	}
	
}
	
@media only screen and (max-width:299px) and (min-width:50px)
{	
	body
	{
		margin:0;
		padding:0;
	}
	.bg
	{
		background-attachment:fixed;
	}
	.class1
	{
		font-size: 16px;
		text-align: center; 
		margin: 0;  
		padding-left:0%;
	}
	.square
	{	
		font-size:2vh;
		height:auto;
		width:75vw;
		margin-left:7vw;
		margin-top:20vh;
		padding:0.5vh;
	}
	.name,.pass
	{
		margin-left:5vw;
	}
	.box
	{
		width:30%;
	}
	.login
	{
		margin-left:23vw;
	}
	.button
	{
		margin-left:23vw;
	}
	
}